* {
padding: 0;
margin: 0;
color: black;
box-sizing: border-box;
}

body {
display: flex;
flex-direction: column;
width: 100%;
height: 100vh;
font-family: sans serif;
}

.main_container {
background: #DADEEF;

}

header {
width: 100%;
display: flex;
align-items: center;
background: #311465;
}

header img {
width: 70px;
padding: 0;
position: relative;
top: 3px;
}

.left {
background: #311465;
display: flex;
align-items: center;
margin-left: 30px;
flex-grow: 1;
}

.icons {
display: flex;

}
.left a {
text-decoration: none;
font-size: 2rem;
margin-right: 15px;
padding: 0;
margin: 0;
}

.left i {
color: white;
margin: 0 10px 0 10px;

}

header .right {
display: flex;
justify-content: flex-end;
flex-grow: 1;
}


.right i {
text-decoration: none;
font-size: 2rem;
margin-right: 15px;
padding: 0;
margin-right: 50px;
color: white;

}

.main_content {
display: flex;
width: 100%;
height: 400px;


}

.left_aside {
flex-grow: 1;
display: flex;
justify-content: flex-start;

}

.left_aside div {
height: 150px;
padding: 20px;

}
.left_aside img {
border: 1px white solid;
border-radius: 50%;
width: 50px;
}

table {
width: 100%;
}

td {
margin-left: 10px;
padding: 5px 10px;
border-bottom: solid 1px white;
}

.middle {
flex-grow: 3;
border: solid black 1px;

}

.right_aside {
flex-grow: 1;
border: solid black 1px;

}

footer {

}
