* {
padding: 0;
margin: 0;
color: black;
box-sizing: border-box;
}

body, html {
display: flex;
flex-direction: column;
width: 100%;
height: 100vh;
font-family: sans serif;
box-sizing: border-box;
overflow-x: hidden;
}

.main_container {
background: #DADEEF;

}

header {
width: 100%;
display: flex;
align-items: center;
background: #311465;
}

header img {
width: 70px;
padding: 0;
position: relative;
top: 3px;
}

.left {
background: #311465;
display: flex;
align-items: center;
margin-left: 30px;
flex-grow: 1;
}

.icons {
display: flex;

}
.left a {
text-decoration: none;
font-size: 2rem;
margin-right: 15px;
padding: 0;
margin: 0;
}

.left i {
color: white;
margin: 0 10px 0 10px;

}

header .right {
display: flex;
justify-content: flex-end;
flex-grow: 1;
}


.right i {
text-decoration: none;
font-size: 2rem;
margin-right: 15px;
padding: 0;
margin-right: 50px;
color: white;

}

.main_content {
display: flex;
width: 100%;
height: auto;
flex-grow: 3;
justify-content: center;
}

.left_aside {
flex-grow: 1;
display: flex;
justify-content: flex-start;
font-size: 1.5rem;
}

.left_aside div {
height: 150px;
padding: 20px;

}
.left_aside img {
border: 1px white solid;
border-radius: 50%;
width: 50px;
}

table {
width: 100%;
padding: 10px;
}

td {
margin-left: 10px;
padding: 5px 10px;
border-bottom: solid 1px white;
}

td i {
font-size:;
color:
}

.middle {
flex-grow: 3;
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 20px;
margin-bottom: 10px;
}



.post_card {
background: #DADEEF;
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
width: 600px;
height:;
padding: 20px;
}
.post_card img {
border-radius: 70%;
width: 70px;
}

.post_content {
border-top: 1px lightgrey solid;
border-bottom: 1px lightgrey solid;
padding: 10px;
}

footer {
background: #311465;
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
width: 100%;
height: auto;
}

.footer_header {
display: flex;
align-items: center;
box-sizing: border-box;
}

footer img {
width: 150px;
position: relative;
left: 140px;
}

footer a {
display: block;
text-decoration: none;
padding: 5px;
margin: 0;
color: white;
}

.footer_links {
display:flex;
position: relative;
left: 150px;
color: #DADEEF;
margin-bottom: 10px;
}

.links {
margin-right: 15px;
}
.links h4 {
color: #DADEEF;
}


.footer_icons {
display: flex;
justify-content: flex-end;
flex-grow: 1;
margin-right: 40px;
}

.footer_icons i {
padding: 5px;
color: white;
font-size: 2rem;
margin-left: 15px;
}

.right_aside {
margin-top: 20px;
display: flex;
flex-direction: column;
flex-grow: 1;
text-align: center;

}
.ads {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
text-align: center;
max-width: 250px;

}
.price {
color: grey;
font-size: 22px;
margin: 10px 0 10px;

}

.text {
padding: 20px;
}

.ads button {
cursor: pointer;
width: 100%;
border: none;
padding: 5px;
color: white;
background: #000;
outline: 0;
margin-top: 5px;
}

.right_aside a {
text-align: left;
text-decoration: none;
padding: 5px;

}

