body, html {
padding: 0;
margin: 0;
width: 100%;
height: 100%;
/*display: flex;
justify-content: center;
align-items: center;
*/
box-sizing: border-box;
font-family: "Poppins" arial;
background: #DADEDF;
}
* {
box-sizing: border-box;
}

a {
text-decoration: none;
padding: 0;
margin: 0;
color: #fff;
}

#top_wrapper {
min-width: 100%;
height: 100vh;
color: #fff;
display: flex;
justify-items: center;
align-items: center;
}

.video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
opacity: 0.8;
}

#container {
position: relative;
width: 100%;
height: 100%;
z-index: 2;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
color: #fff;
text-align: center;
}

#container header {
display: flex;
width: 100%;
position: absolute;
top: 0;
left: 0;
}

#logo img {
height: 200px;
}

#navbar {
display: flex;
align-items: center;
justify-content: flex-end;
padding-right: 50px;
}
#navbar a {
margin: 20px;
font-size: 30px;
color: white;
}

.join_now {
background: #FC6A03;
border-radius: 50px;
padding: 5px 10px
}

/* content **/
#content {
padding: 0;
margin: 0;
}


#content h1 {
font-size: 92px;
margin-bottom: 0;
}

#content p {
    text-align: left;
    font-size: 20px;
    margin-top: 0;
}

#btn {
padding: 10px;
color: #fff;
}

#btn button {
width: 200px;
border: 2px solid #fff;
border-radius: 50px;
font-size: 30px;
height: 60px;
margin-right: 20px;
background: none;
transition: 0.3s;
}

#btn button:hover {
background: #FC6A03;
border: 2px solid #FC6A03;
color: #fff;
}



/*** stories ***/
.stories {
margin: 10px;

}
#heading {
text-align: center;
font-size: 40px;
}
.cards {
display: flex;
flex-wrap: wrap;
}

.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
margin: auto;
text-align: center;
padding: 0 10px;
}
.card p {
text-align: justify;
}

footer {
width: 100%;
background: #FC6A03;
height: 200px;

}
