* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

a {
padding: ;
margin: ;
text-decoration: none;
color: black;
}

header {
display: flex;
border-bottom: 1px solid #ffffff;
width: 100%;
background: #222c42;
color: white;
height: 100px;
padding: 20px;
}

.logo_container {
width: 50%;
height: 40px;
}

.navbar_container {
display: flex;
width: 50%;
justify-content: flex-end;
align-items: flex-end
}
.navbar_container a {
margin-right: 10px;
padding-right: 10px;
color: white;
}

