<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Diet Plan</title>
</head>
<body>
    <h1>Create Diet Plan</h1>
    <form action="{{ url_for('dietplan.create_dietplan') }}" method="POST">
        <label for="name">Diet:</label>
        <input type="text" id="name" name="name" required><br>
        
        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea><br>
        
        <label for="calories_per_day">Calories per Day:</label>
        <input type="number" id="calories_per_day" name="calories_per_day" required><br>
        
        <button type="submit">Create</button>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
