<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User</h1>
    <form action="{{ url_for('user.update_user', user_id=user.id) }}" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ user.username }}" required><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ user.email }}" required><br>
        
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" value="{{ user.age }}" required><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        
        <button type="submit">Update</button>
    </form>
</body>
</html>