<!DOCTYPE HTML>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/styles/styles.css">
    </head>
    <body>
        <header>

            <div class='logo_container'>
                <h3>Logo</h3>
            </div><! Endo of logo_container>

            <div class='navbar_container'>
                <a href='#'><h3>Explore</h3></a>
                <a href='#'><h3>Login</h3></a>
                <a href='#'><h3>Join Now</h3></a>
            </div><! Endo of navbar_container>

        </header><! End of header>
        <div class='main_container'>
            <div class=welcome_container>
                <h1>We help you shape your You</h1>
                <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit
                amet, consectetur, adipisci velit..."
                "There is no one who loves pain itself, who seeks after it and
                wants to have it, simply because it is pain...""Neque porro
                quisquam est qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci velit..."
                "There is no one who loves pain itself, who seeks after it and
                wants to have it, simply because it is pain...<p>
            </div><! End of welcome_container>
        </div><! End of main_container>
        <footer>
        </footer><! End of footer>
    </body>
</html>
