<!DOCTYPE HTML>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/styles/styles.css">
    </head>
    <body>
        <header>

            <div class='logo_container'>
                <h3>Logo</h3>
            </div><! Endo of logo_container>

            <div class='navbar_container'>
                <a href='#'><h3>Explore</h3></a>
                <a href='#'><h3>Login</h3></a>
                <a href='#'><h3>Join Now</h3></a>
            </div><! Endo of navbar_container>

        </header><! End of header>
        <div class='main_container'>
            <div class="welcome_wrapper">
                <div class=welcome_content>
                    <video autoplay loop muted class="video">
                        <source src="/static/videos/welcome_video.mp4" type="video/mp4">
                    </video>
                </div><!End of welcome_container>
            <div><!End of welcome_wrapper>


        </div><! End of main_container>
        <footer>
        </footer><! End of footer>
    </body>
</html>
