<!DOCTYPE HTML>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/styles/landing_style.css">
        <link rel="icon" type="image/x-icon" href="/static/images/logo2.png">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Anti Obesity</title>
    </head>
    <body>
        <div id="top_wrapper">
            <video loop muted autoplay class="video">
                <source src="/static/videos/welcome_video.mp4" type="video/mp4">
            </video>
            <div id="container">
                <header>
                    <div  style="flex-grow: 2" id="logo">
                        <img src="/static/images/logo.png" alt="Logo"
                        class="logo">
                    </div><!end of logo>
                    <div style="flex-grow: 3" id="navbar">
                        <a href="/">Home</a>
                        <a href="explore">Explore</a>
                        <a href="/login">Login</a>
                        <a href="/users/new" class="join_now">Join Now</a>
                    </div><!-- end of navbar -->
                    </header>
                <section id="content">
                    <div id="message">
                        <h1>Loose It All with Us</h1>
                        <p>We can make it possible, We do Hard Things</p>
                        <div id=btn>
                            <a href="/users/new">
                                <button type="">Join Now</button>
                            </a>
                            <button type="">Check BMI</button>
                        </div><!end of btn>
                    <div><!end of message>
                </section>
            </div><!-- end of container -->
        </div><!-- end of top_wrapper -->
        <section class"stories">
            <h1 id="heading">Success Stories</h1>
            <div class="cards">
                <div class="card">
                    <img src="/static/images/clients/client1.jpg" alt="client_1" style="width: 100%;">
                    <h2>Sandra Twist</h2>
                    <p class="message">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu
                    </p>
                    <div style="margin: 24px 0;">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                </div><!end of card>
                <div class="card">
                    <img src="/static/images/clients/client2.jpg" alt="client_1" style="width: 100%;">
                    <h2>Oliver Twist</h2>
                    <p class="message">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu
                    </p>
                    <div style="margin: 24px 0;">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                </div><!end of card>
                <div class="card">
                    <img src="/static/images/clients/client3.jpg" alt="client_1" style="width: 100%;">
                    <h2>Kyler Twist</h2>
                    <p class="message">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu
                    </p>
                    <div style="margin: 24px 0;">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                </div><!end of card>
                <div class="card">
                    <img src="/static/images/clients/client4.jpg" alt="client_1" style="width: 100%;">
                    <h2>Price Twist</h2>
                    <p class="message">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                        do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu
                    </p>
                    <div style="margin: 24px 0;">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                </div><!end of card>

            </div><!end of cards>
        </section><!end of stories>


        <section>
            <h1>Trainers and Dicitians</h1>
        </section>

        <section>
            <h1>Services Offered</h1>
        </section>

        <footer>
            <div>
                Copyright © 2024 anti-obesity.: All rights reserved
            </div>
        <ul>
            <li>User Policy</li>
            <li>Terms</li>
            <li>Privacy</li>
        </ul>
        </footer>

    </body>
</html>

