<!DOCTYPE HTML>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/styles/login.css">
        <link rel="icon" type="image/x-icon" href="/static/images/logo2.png">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Anti Obesity</title>
    </head>
    <body>
        <div id="top_wrapper">
            <div id="container">
                <header>
                    <div  style="flex-grow: 2" id="logo">
                        <img src="/static/images/logo.png" alt="Logo"
                        class="logo">
                    </div><!end of logo>
                    <div style="flex-grow: 3" id="navbar">
                        <a href="/">Home</a>
                        <a href="/explore">Explore</a>
                        <a href="/login">Login</a>
                        <a href="/users/new" class="join_now">Join Now</a>
                    </div><!-- end of navbar -->
                </header>
                <section id="content">
                    <!-- content for login page -->

                    <h1>Login</h1>
                    <form action="{{ url_for('user.login') }}" method="POST">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required><br>
        
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required><br>
        
                        <button type="submit">Login</button>
                    </form>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                </section>
            </div> <!-- end of container -->
        </div> <!-- end of top_wrapper -->

    </body>
</html>
