<!DOCTYPE HTML>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/styles/dashboard.css">
        <link rel="icon" type="image/x-icon" href="/static/images/logo2.png">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <title>Anti Obesity</title>
    </head>
    <body>
        <div class="main_container">
            <header>

                <div class="left">
                    <img src="/static/images/logo.png">
                    <div class="icons">
                        <a href="#"><i class="fa fa-globe" style="color:"></i></a>
                        <a href="#"><i class="fas fa-tachometer-alt" style="color:"></i></a>
                        <a href="#"><i class="fa fa-envelope" style="color:"></i><a/>
                        <a href="#"><i class="fa fa-bell" style="margin: 0"></i></a>
                    </div><!end of icons>
                </div>

                <div class="right">
                    <a href="#"><i class="fa fa-user" style="color:"></i></a>
                </div>

            </header>
            <div class="main_content">

                <aside class="left_aside">
                    <div>
                        <h3>My Profile</h3>

                            <table>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td><img src="/static/images/clients/client1.jpg"></td>
                                    <td><h5>John Doe</h5></td>
                                </tr>
                                <tr>
                                    <td><i class="fas fa-line-chart"></i></td>
                                    <td><h5>Progress</h5></td>
                                </tr>
                                <tr>
                                    <td><i class="fas fa-weight"></i></td>
                                    <td><h5>BMI</h5></td>

                                </tr>
                                <tr>
                                    <td><i class="fas fa-weight"></i></td>
                                    <td><h5>Diet Plan</h5></td>

                                </tr>

                                <tr>
                                    <td><i class="fas fa-weight"></i></td>
                                    <td><h5>Workout</h5></td>

                                </tr>
                                <tr>
                                    <td><i class="fas fa-trophy"></i></td>
                                    <td><h5>Challenge</h5></td>

                                </tr>
                                <tr>
                                    <td><i class="fas fa-calendar"></i></td>
                                    <td><h5>Events</h5></td>

                                </tr>
                                <tr>
                                    <td><i class="fas fa-camera"></i></td>
                                    <td><h5>Photos</h4></td>

                                </tr>





                            </table>
                    </div>


                </aside><!end of left_aside>

                <section class="middle">

                     <div class="post_card">
                        <div>
                           <img src="/static/images/clients/client2.jpg">
                           <P>2 days ago</p>
                        </div>
                        <br>

                        <div class="post_content">
                            <h2>Why you Need to eat well</h2>
                            <p>
                            rem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book. It has
                            survived not only five centuries, but also the leap
                            into electronic typesetting, remaining essentially
                            unchanged. It was popularised in the 1960s with the
                            release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing
                            software like Aldus PageMaker including versions of
                            Lorem Ipsum
                            </p>
                        </div><!end of post_content>
                        <br>
                        <div class="post_footer"> <button>Like</button>
                            <button>Comment</button>
                            <button>Share</button>
                        </div><!end of post_footer>
                        </div><!end of post_card>
                     <br>
                    <div class="post_card">
                        <div>
                           <img src="/static/images/clients/client2.jpg">
                           <P>2 days ago</p>
                        </div>
                        <br>

                        <div class="post_content">
                            <h2>Why you Need to eat well</h2>
                            <p>
                            rem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book. It has
                            survived not only five centuries, but also the leap
                            into electronic typesetting, remaining essentially
                            unchanged. It was popularised in the 1960s with the
                            release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing
                            software like Aldus PageMaker including versions of
                            Lorem Ipsum
                            </p>
                        </div><!end of post_content>
                        <br>
                        <div class="post_footer"> <button>Like</button>
                            <button>Comment</button>
                            <button>Share</button>
                        </div><!end of post_footer>
                        </div><!end of post_card>
                        <br>
                        <div class="post_card">
                        <div>
                           <img src="/static/images/clients/client2.jpg">
                           <P>2 days ago</p>
                        </div>
                        <br>

                        <div class="post_content">
                            <h2>Why you Need to eat well</h2>
                            <p>
                            rem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book. It has
                            survived not only five centuries, but also the leap
                            into electronic typesetting, remaining essentially
                            unchanged. It was popularised in the 1960s with the
                            release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing
                            software like Aldus PageMaker including versions of
                            Lorem Ipsum
                            </p>
                        </div><!end of post_content>
                        <br>
                        <div class="post_footer"> <button>Like</button>
                            <button>Comment</button>
                            <button>Share</button>
                        </div><!end of post_footer>
                        </div><!end of post_card>


                </section><!end of middle>

                <aside class="right_aside">
                    <div class="ads">
                        <img src="/static/images/clients/client3.jpg"
                        alt="poduct" style="width: 100%">
                        <div class="text">
                        <h2>30 Days Diet Plan</h2>
                        <p class="price">Free to Join</p>
                        <p>
                            Join us on the this wonderful journey
                            You will meet a lot of people and learn more
                        </p>
                        </div>
                        <p><button>See More</button></p>
                    </div>
                    <br>
                    <div class="ads">
                        <img src="/static/images/clients/client3.jpg"
                        alt="poduct" style="width: 100%">
                        <div class="text">
                        <h2>30 Days Diet Plan</h2>
                        <p class="price">Free to Join</p>
                        <p>
                            Join us on the this wonderful journey
                            You will meet a lot of people and learn more
                        </p>
                        </div>
                        <p><button>See More</button></p>
                    </div>

                    <br>
                    <h4 style="text-align: left">Archive</h4>
                         <a href="#">Health Checks</a>
                         <a href="#">Understanding Calories</a>
                         <a href="#">Accountablility</a>
                         <a href="#">Disciple with food</a>
                         <a href="#">Loose weight the right way</a>
                </aside><!end of right_aside">

            </div><!end of main_content">

            <footer>
                <div class="footer_header">
                    <img src="/static/images/logo.png">
                    <div class="footer_icons">
                       <i class="fab fa-facebook-square"></i>
                       <i class="fab fa-instagram-square"></i>
                       <i class="fab fa-twitter-square"></i>
                    </div>
                </div>
                <div class="footer_links">
                    <div class="links">
                        <h4>Services</h4>
                        <a href="#">Diet Plans</a>
                        <a href="#">Workouts</a>
                        <a href="#">Blog</a>
                        <a href="#">Talk to a professional</a>
                    </div>
                    <div class="links">
                        <h4>Our Policies</h4>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Terms and Conditions</a>
                        <a href="#">Cookie Policy</a>
                        <a href="#">FAQs</a>
                    </div>
                    <div class="links">
                        <h4>Connect With Others</h4>
                        <a href="#">Become a Member</a>
                        <a href="#">Challenges</a>
                        <a href="#">Make a Friend</a>
                    </div>
                </div>
            </footer>
        <div><!end of main_contaiter>

    </body>
</html>

